In [1]:
import pandas as pd
import numpy as np
import os

In [104]:
df = pd.read_csv('test.csv',na_values=['NaN '])
df.head(2)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
0,0x2318,COIMBRES13DEL01,NaN,NaN,11.003669,76.976494,11.043669,77.016494,30-03-2022,NaN,15:05:00,conditions NaN,NaN,3,Drinks,electric_scooter,1.0,No,Metropolitian
1,0x3474,BANGRES15DEL01,28.0,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,20:30:00,20:35:00,conditions Windy,Jam,0,Snack,motorcycle,1.0,No,Metropolitian

In [105]:

df.dropna(inplace = True)
#df[['Delivery_location_latitude']]
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
1,0x3474,BANGRES15DEL01,28.0,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,20:30:00,20:35:00,conditions Windy,Jam,0,Snack,motorcycle,1.0,No,Metropolitian
2,0x9420,JAPRES09DEL03,23.0,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,19:35:00,19:45:00,conditions Stormy,Jam,0,Drinks,motorcycle,1.0,No,Metropolitian
3,0x72ee,JAPRES07DEL03,21.0,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:15:00,17:20:00,conditions Fog,Medium,1,Meal,scooter,1.0,No,Metropolitian
4,0xa759,CHENRES19DEL01,31.0,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,18:25:00,18:40:00,conditions Sunny,Medium,2,Drinks,scooter,1.0,No,Metropolitian
5,0xc4af,GOARES04DEL01,26.0,4.7,15.569600,73.742294,15.579600,73.752294,15-02-2022,09:45:00,09:55:00,conditions Fog,Low,0,Drinks,motorcycle,1.0,No,Metropolitian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11393,0xe240,BHPRES07DEL01,31.0,4.7,0.000000,0.000000,0.010000,0.010000,13-02-2022,11:00:00,11:10:00,conditions Windy,Low,2,Snack,scooter,1.0,No,Metropolitian
11394,0x6909,JAPRES01DEL01,35.0,4.6,26.905190,75.810753,27.015190,75.920753,27-03-2022,21:35:00,21:45:00,conditions Sunny,Jam,1,Snack,scooter,1.0,No,Metropolitian
11395,0x443b,JAPRES11DEL01,33.0,4.9,26.902940,75.793007,26.912940,75.803007,11-03-2022,11:40:00,11:45:00,conditions Sandstorms,High,1,Drinks,scooter,1.0,No,Metropolitian
11397,0x22d4,VADRES03DEL02,27.0,4.7,22.320000,73.170000,22.450000,73.300000,06-03-2022,18:35:00,18:40:00,conditions Sandstorms,Medium,0,Meal,motorcycle,0.0,No,Metropolitian
11398,0xb7be,CHENRES07DEL02,39.0,5.0,13.081878,80.248519,13.131878,80.298519,24-03-2022,22:20:00,22:25:00,conditions Windy,Low,2,Drinks,motorcycle,1.0,No,Urban

In [107]:
df = df.assign(new_col= df['Delivery_person_Age']/df['Delivery_person_Ratings'])
#df[['new_col']]
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,new_col
1,0x3474,BANGRES15DEL01,28.0,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,20:30:00,20:35:00,conditions Windy,Jam,0,Snack,motorcycle,1.0,No,Metropolitian,6.086957
2,0x9420,JAPRES09DEL03,23.0,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,19:35:00,19:45:00,conditions Stormy,Jam,0,Drinks,motorcycle,1.0,No,Metropolitian,5.111111
3,0x72ee,JAPRES07DEL03,21.0,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:15:00,17:20:00,conditions Fog,Medium,1,Meal,scooter,1.0,No,Metropolitian,4.375000
4,0xa759,CHENRES19DEL01,31.0,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,18:25:00,18:40:00,conditions Sunny,Medium,2,Drinks,scooter,1.0,No,Metropolitian,6.739130
5,0xc4af,GOARES04DEL01,26.0,4.7,15.569600,73.742294,15.579600,73.752294,15-02-2022,09:45:00,09:55:00,conditions Fog,Low,0,Drinks,motorcycle,1.0,No,Metropolitian,5.531915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11393,0xe240,BHPRES07DEL01,31.0,4.7,0.000000,0.000000,0.010000,0.010000,13-02-2022,11:00:00,11:10:00,conditions Windy,Low,2,Snack,scooter,1.0,No,Metropolitian,6.595745
11394,0x6909,JAPRES01DEL01,35.0,4.6,26.905190,75.810753,27.015190,75.920753,27-03-2022,21:35:00,21:45:00,conditions Sunny,Jam,1,Snack,scooter,1.0,No,Metropolitian,7.608696
11395,0x443b,JAPRES11DEL01,33.0,4.9,26.902940,75.793007,26.912940,75.803007,11-03-2022,11:40:00,11:45:00,conditions Sandstorms,High,1,Drinks,scooter,1.0,No,Metropolitian,6.734694
11397,0x22d4,VADRES03DEL02,27.0,4.7,22.320000,73.170000,22.450000,73.300000,06-03-2022,18:35:00,18:40:00,conditions Sandstorms,Medium,0,Meal,motorcycle,0.0,No,Metropolitian,5.744681
11398,0xb7be,CHENRES07DEL02,39.0,5.0,13.081878,80.248519,13.131878,80.298519,24-03-2022,22:20:00,22:25:00,conditions Windy,Low,2,Drinks,motorcycle,1.0,No,Urban,7.800000

In [32]:
#df.sort_values(by = 'new_col',ascending = False)
df[['new_col']].sort_values(by = 'new_col',ascending = False)

         new_col
1439   11.818182
8106   11.600000
10448  11.600000
411    11.470588
6499   11.290323
...          ...
10595   4.000000
6332    4.000000
8734    4.000000
6162    4.000000
372     4.000000

[10291 rows x 1 columns]

In [34]:
#df[(df['Delivery_person_Age']>=35) & (df['Delivery_person_Ratings'] < 4)].sort_values(by = 'Delivery_person_Age')
df[(df.Delivery_person_Age>35)& (df['Delivery_person_Ratings']<4)].sort_values(by ='Delivery_person_Ratings')

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,new_col
1439,0xcc3a,ALHRES01DEL01,39.0,3.3,25.454648,81.834502,25.564648,81.944502,14-02-2022,23:00:00,23:05:00,conditions Sunny,Low,0,Buffet,motorcycle,1.0,No,Metropolitian,11.818182
6707,0x5cc8,INDORES11DEL03,36.0,3.3,22.751234,75.889490,22.841234,75.979490,29-03-2022,23:20:00,23:30:00,conditions Sunny,Low,0,Drinks,motorcycle,0.0,No,Metropolitian,10.909091
411,0x88f0,HYDRES19DEL02,39.0,3.4,17.458998,78.500366,17.538998,78.580366,10-03-2022,22:50:00,23:05:00,conditions Sunny,Low,0,Buffet,motorcycle,1.0,No,Metropolitian,11.470588
10137,0x26f8,VADRES06DEL02,37.0,3.4,22.312790,73.170283,22.442790,73.300283,02-03-2022,23:55:00,00:10:00,conditions Sunny,Low,0,Snack,motorcycle,1.0,No,Urban,10.882353
3188,0xb390,RANCHIRES03DEL02,37.0,3.5,0.000000,0.000000,0.080000,0.080000,08-03-2022,19:20:00,19:35:00,conditions Sandstorms,Jam,1,Drinks,scooter,1.0,No,Metropolitian,10.571429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6468,0x8611,INDORES04DEL01,39.0,3.9,22.753659,75.903365,22.823659,75.973365,18-03-2022,22:35:00,22:45:00,conditions Fog,Low,2,Buffet,scooter,1.0,No,Metropolitian,10.000000
7424,0x1028,MYSRES15DEL01,37.0,3.9,12.352058,76.606650,12.422058,76.676650,23-03-2022,19:55:00,20:00:00,conditions Windy,Jam,2,Meal,scooter,3.0,No,Metropolitian,9.487179
8159,0x5b81,CHENRES08DEL02,37.0,3.9,13.022394,80.242439,13.152394,80.372439,10-03-2022,23:50:00,23:55:00,conditions Cloudy,Low,1,Snack,scooter,1.0,No,Metropolitian,9.487179
1550,0xdbb,CHENRES04DEL01,38.0,3.9,13.029780,80.208812,13.099780,80.278812,08-03-2022,19:55:00,20:05:00,conditions Windy,Jam,1,Snack,motorcycle,0.0,No,Metropolitian,9.743590
2865,0xbd30,RANCHIRES15DEL02,36.0,3.9,23.369746,85.339820,23.449746,85.419820,04-03-2022,20:50:00,21:00:00,conditions Sandstorms,Jam,1,Meal,motorcycle,1.0,No,Metropolitian,9.230769

In [29]:
df[df['Delivery_person_Age'].isna()]

Empty DataFrame
Columns: [ID, Delivery_person_ID, Delivery_person_Age, Delivery_person_Ratings, Restaurant_latitude, Restaurant_longitude, Delivery_location_latitude, Delivery_location_longitude, Order_Date, Time_Orderd, Time_Order_picked, Weatherconditions, Road_traffic_density, Vehicle_condition, Type_of_order, Type_of_vehicle, multiple_deliveries, Festival, City, new_col]
Index: []

In [33]:
#df[df.Delivery_person_Age > df.Delivery_person_Ratings]
df[df['Delivery_person_Age']>df['Delivery_person_Ratings']]

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,new_col
1,0x3474,BANGRES15DEL01,28.0,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,20:30:00,20:35:00,conditions Windy,Jam,0,Snack,motorcycle,1.0,No,Metropolitian,6.086957
2,0x9420,JAPRES09DEL03,23.0,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,19:35:00,19:45:00,conditions Stormy,Jam,0,Drinks,motorcycle,1.0,No,Metropolitian,5.111111
3,0x72ee,JAPRES07DEL03,21.0,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:15:00,17:20:00,conditions Fog,Medium,1,Meal,scooter,1.0,No,Metropolitian,4.375000
4,0xa759,CHENRES19DEL01,31.0,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,18:25:00,18:40:00,conditions Sunny,Medium,2,Drinks,scooter,1.0,No,Metropolitian,6.739130
5,0xc4af,GOARES04DEL01,26.0,4.7,15.569600,73.742294,15.579600,73.752294,15-02-2022,09:45:00,09:55:00,conditions Fog,Low,0,Drinks,motorcycle,1.0,No,Metropolitian,5.531915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11393,0xe240,BHPRES07DEL01,31.0,4.7,0.000000,0.000000,0.010000,0.010000,13-02-2022,11:00:00,11:10:00,conditions Windy,Low,2,Snack,scooter,1.0,No,Metropolitian,6.595745
11394,0x6909,JAPRES01DEL01,35.0,4.6,26.905190,75.810753,27.015190,75.920753,27-03-2022,21:35:00,21:45:00,conditions Sunny,Jam,1,Snack,scooter,1.0,No,Metropolitian,7.608696
11395,0x443b,JAPRES11DEL01,33.0,4.9,26.902940,75.793007,26.912940,75.803007,11-03-2022,11:40:00,11:45:00,conditions Sandstorms,High,1,Drinks,scooter,1.0,No,Metropolitian,6.734694
11397,0x22d4,VADRES03DEL02,27.0,4.7,22.320000,73.170000,22.450000,73.300000,06-03-2022,18:35:00,18:40:00,conditions Sandstorms,Medium,0,Meal,motorcycle,0.0,No,Metropolitian,5.744681
11398,0xb7be,CHENRES07DEL02,39.0,5.0,13.081878,80.248519,13.131878,80.298519,24-03-2022,22:20:00,22:25:00,conditions Windy,Low,2,Drinks,motorcycle,1.0,No,Urban,7.800000

In [44]:
df[df['Delivery_person_ID'].str.contains('C')]

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,new_col
4,0xa759,CHENRES19DEL01,31.0,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,18:25:00,18:40:00,conditions Sunny,Medium,2,Drinks,scooter,1.0,No,Metropolitian,6.739130
10,0xd845,KOCRES09DEL01,24.0,4.8,10.000706,76.349516,10.040706,76.389516,17-02-2022,14:35:00,14:40:00,conditions Stormy,High,2,Snack,motorcycle,1.0,No,Metropolitian,5.000000
12,0x4598,RANCHIRES14DEL03,35.0,4.8,0.000000,0.000000,0.060000,0.060000,01-04-2022,22:15:00,22:25:00,conditions Sunny,Low,2,Snack,scooter,0.0,No,Metropolitian,7.291667
14,0x73ec,RANCHIRES010DEL03,36.0,4.6,23.354422,85.332900,23.414422,85.392900,17-03-2022,21:30:00,21:40:00,conditions Fog,Jam,1,Meal,scooter,0.0,No,Metropolitian,7.826087
16,0x9fa6,COIMBRES03DEL03,38.0,4.2,11.025083,77.015393,11.055083,77.045393,15-03-2022,20:30:00,20:35:00,conditions Windy,Jam,2,Buffet,motorcycle,1.0,No,Metropolitian,9.047619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11372,0x104b,CHENRES09DEL03,32.0,4.2,13.044694,80.261470,13.074694,80.291470,01-04-2022,21:15:00,21:30:00,conditions Fog,Jam,2,Buffet,electric_scooter,1.0,No,Metropolitian,7.619048
11381,0x95dc,COIMBRES07DEL02,36.0,4.5,10.961850,76.971082,11.011850,77.021082,24-03-2022,17:30:00,17:40:00,conditions Cloudy,Medium,2,Meal,scooter,1.0,No,Metropolitian,8.000000
11382,0x2114,CHENRES12DEL01,21.0,5.0,12.972793,80.249982,12.982793,80.259982,19-03-2022,09:50:00,10:05:00,conditions Stormy,Low,2,Drinks,motorcycle,1.0,No,Metropolitian,4.200000
11387,0x77fe,CHENRES01DEL01,33.0,4.0,13.005801,80.250744,13.075801,80.320744,08-03-2022,20:45:00,21:00:00,conditions Windy,Jam,0,Drinks,motorcycle,0.0,No,Metropolitian,8.250000
11398,0xb7be,CHENRES07DEL02,39.0,5.0,13.081878,80.248519,13.131878,80.298519,24-03-2022,22:20:00,22:25:00,conditions Windy,Low,2,Drinks,motorcycle,1.0,No,Urban,7.800000

In [35]:
#df[df['Delivery_person_ID'].str.contains('MB|EN',regex= True)].count()
df['Delivery_person_ID'].str.contains('MB|EN',regex= True).count()

10291

In [38]:
df[df['Delivery_person_ID'].str.startswith('M',na = True)] ###
#df['Delivery_person_ID'].str.startswith('M',na = True) ###

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,new_col
8,0x872b,MYSRES05DEL03,35.0,4.9,12.323978,76.627961,12.413978,76.717961,02-03-2022,21:30:00,21:45:00,conditions Cloudy,Jam,2,Snack,scooter,1.0,No,Metropolitian,7.142857
28,0x87a1,MYSRES03DEL01,29.0,4.7,12.299524,76.642620,12.309524,76.652620,01-04-2022,08:25:00,08:30:00,conditions Fog,Low,0,Meal,motorcycle,0.0,No,Metropolitian,6.170213
45,0x869f,MYSRES13DEL01,30.0,4.4,12.310972,76.659264,12.380972,76.729264,02-03-2022,18:50:00,18:55:00,conditions Windy,Medium,0,Meal,motorcycle,1.0,No,Metropolitian,6.818182
52,0x5571,MYSRES02DEL02,21.0,4.8,12.304569,76.643622,12.354569,76.693622,03-04-2022,22:50:00,23:05:00,conditions Windy,Low,2,Drinks,motorcycle,0.0,No,Urban,4.375000
61,0xb986,MYSRES04DEL02,20.0,4.5,12.308500,76.665808,12.438500,76.795808,04-04-2022,23:00:00,23:05:00,conditions Fog,Low,1,Snack,motorcycle,1.0,No,Metropolitian,4.444444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11361,0x4510,MYSRES15DEL01,31.0,4.6,12.352058,76.606650,12.392058,76.646650,17-03-2022,13:15:00,13:25:00,conditions Cloudy,High,2,Snack,electric_scooter,0.0,No,Metropolitian,6.739130
11362,0x37ca,MYSRES19DEL01,29.0,4.8,12.334022,76.618203,12.344022,76.628203,19-03-2022,11:00:00,11:15:00,conditions Sunny,Low,2,Snack,scooter,1.0,No,Metropolitian,6.041667
11363,0x9eb4,MUMRES18DEL01,38.0,3.8,19.109300,72.825451,19.179300,72.895451,18-03-2022,19:25:00,19:40:00,conditions Windy,Jam,1,Snack,motorcycle,0.0,No,Metropolitian,10.000000
11368,0x5f99,MYSRES01DEL02,32.0,4.0,12.311072,76.654878,12.441072,76.784878,08-03-2022,18:00:00,18:15:00,conditions Fog,Medium,1,Drinks,motorcycle,0.0,No,Metropolitian,8.000000
11377,0x3ecb,MUMRES18DEL02,34.0,4.8,19.109300,72.825451,19.159300,72.875451,07-03-2022,22:40:00,22:45:00,conditions Sunny,Low,1,Snack,motorcycle,1.0,No,Metropolitian,7.083333

In [56]:
df[df['Delivery_person_ID'].astype(str).str.endswith(' ',na = False)]

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,new_col
1,0x3474,BANGRES15DEL01,28.0,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,20:30:00,20:35:00,conditions Windy,Jam,0,Snack,motorcycle,1.0,No,Metropolitian,6.086957
2,0x9420,JAPRES09DEL03,23.0,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,19:35:00,19:45:00,conditions Stormy,Jam,0,Drinks,motorcycle,1.0,No,Metropolitian,5.111111
3,0x72ee,JAPRES07DEL03,21.0,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:15:00,17:20:00,conditions Fog,Medium,1,Meal,scooter,1.0,No,Metropolitian,4.375000
4,0xa759,CHENRES19DEL01,31.0,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,18:25:00,18:40:00,conditions Sunny,Medium,2,Drinks,scooter,1.0,No,Metropolitian,6.739130
5,0xc4af,GOARES04DEL01,26.0,4.7,15.569600,73.742294,15.579600,73.752294,15-02-2022,09:45:00,09:55:00,conditions Fog,Low,0,Drinks,motorcycle,1.0,No,Metropolitian,5.531915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11393,0xe240,BHPRES07DEL01,31.0,4.7,0.000000,0.000000,0.010000,0.010000,13-02-2022,11:00:00,11:10:00,conditions Windy,Low,2,Snack,scooter,1.0,No,Metropolitian,6.595745
11394,0x6909,JAPRES01DEL01,35.0,4.6,26.905190,75.810753,27.015190,75.920753,27-03-2022,21:35:00,21:45:00,conditions Sunny,Jam,1,Snack,scooter,1.0,No,Metropolitian,7.608696
11395,0x443b,JAPRES11DEL01,33.0,4.9,26.902940,75.793007,26.912940,75.803007,11-03-2022,11:40:00,11:45:00,conditions Sandstorms,High,1,Drinks,scooter,1.0,No,Metropolitian,6.734694
11397,0x22d4,VADRES03DEL02,27.0,4.7,22.320000,73.170000,22.450000,73.300000,06-03-2022,18:35:00,18:40:00,conditions Sandstorms,Medium,0,Meal,motorcycle,0.0,No,Metropolitian,5.744681
11398,0xb7be,CHENRES07DEL02,39.0,5.0,13.081878,80.248519,13.131878,80.298519,24-03-2022,22:20:00,22:25:00,conditions Windy,Low,2,Drinks,motorcycle,1.0,No,Urban,7.800000

In [59]:
df[(df['Delivery_person_Age'] == 35.0 ) & (df['Delivery_person_Ratings'] >4.5)]

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,new_col
8,0x872b,MYSRES05DEL03,35.0,4.9,12.323978,76.627961,12.413978,76.717961,02-03-2022,21:30:00,21:45:00,conditions Cloudy,Jam,2,Snack,scooter,1.0,No,Metropolitian,7.142857
12,0x4598,RANCHIRES14DEL03,35.0,4.8,0.000000,0.000000,0.060000,0.060000,01-04-2022,22:15:00,22:25:00,conditions Sunny,Low,2,Snack,scooter,0.0,No,Metropolitian,7.291667
41,0xa6ba,HYDRES01DEL03,35.0,4.7,17.410371,78.437225,17.440371,78.467225,09-03-2022,19:45:00,20:00:00,conditions Cloudy,Jam,1,Buffet,scooter,1.0,No,Metropolitian,7.446809
48,0x4981,CHENRES02DEL03,35.0,4.7,13.086438,80.220672,13.146439,80.280672,05-03-2022,20:20:00,20:30:00,conditions Sunny,Jam,0,Buffet,motorcycle,1.0,No,Urban,7.446809
79,0xdb61,BHPRES12DEL03,35.0,4.8,0.000000,0.000000,0.090000,0.090000,18-02-2022,21:55:00,22:05:00,conditions Sunny,Jam,2,Snack,scooter,1.0,No,Metropolitian,7.291667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11264,0x25dc,INDORES17DEL03,35.0,4.6,22.761226,75.887522,22.851226,75.977522,12-03-2022,19:40:00,19:55:00,conditions Fog,Jam,2,Buffet,scooter,1.0,No,Metropolitian,7.608696
11273,0x43b1,JAPRES17DEL02,35.0,4.6,26.892312,75.806896,27.022313,75.936896,31-03-2022,19:00:00,19:15:00,conditions Sandstorms,Medium,0,Meal,motorcycle,1.0,Yes,Metropolitian,7.608696
11281,0x60f4,JAPRES20DEL03,35.0,4.7,26.956431,75.776649,27.046431,75.866649,12-03-2022,18:45:00,18:50:00,conditions Cloudy,Medium,0,Drinks,motorcycle,1.0,No,Metropolitian,7.446809
11333,0x7cc7,MYSRES07DEL01,35.0,5.0,12.325461,76.632278,12.365461,76.672278,19-03-2022,13:15:00,13:20:00,conditions Windy,High,1,Drinks,motorcycle,1.0,No,Metropolitian,7.000000
11394,0x6909,JAPRES01DEL01,35.0,4.6,26.905190,75.810753,27.015190,75.920753,27-03-2022,21:35:00,21:45:00,conditions Sunny,Jam,1,Snack,scooter,1.0,No,Metropolitian,7.608696

In [60]:
df[df['Delivery_person_Ratings'].isin([4.8,4.5,4.7])]

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,new_col
2,0x9420,JAPRES09DEL03,23.0,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,19:35:00,19:45:00,conditions Stormy,Jam,0,Drinks,motorcycle,1.0,No,Metropolitian,5.111111
3,0x72ee,JAPRES07DEL03,21.0,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:15:00,17:20:00,conditions Fog,Medium,1,Meal,scooter,1.0,No,Metropolitian,4.375000
5,0xc4af,GOARES04DEL01,26.0,4.7,15.569600,73.742294,15.579600,73.752294,15-02-2022,09:45:00,09:55:00,conditions Fog,Low,0,Drinks,motorcycle,1.0,No,Metropolitian,5.531915
6,0x3b9d,BANGRES19DEL02,23.0,4.8,12.914264,77.678400,12.934264,77.698400,01-04-2022,10:00:00,10:05:00,conditions Windy,Low,2,Buffet,scooter,0.0,No,Urban,4.791667
7,0xdd42,KOLRES06DEL02,26.0,4.8,22.533662,88.366217,22.583662,88.416217,13-02-2022,18:00:00,18:05:00,conditions Windy,Medium,0,Meal,motorcycle,1.0,No,Metropolitian,5.416667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11381,0x95dc,COIMBRES07DEL02,36.0,4.5,10.961850,76.971082,11.011850,77.021082,24-03-2022,17:30:00,17:40:00,conditions Cloudy,Medium,2,Meal,scooter,1.0,No,Metropolitian,8.000000
11384,0xd661,GOARES01DEL03,37.0,4.8,15.576683,73.755750,15.636683,73.815750,15-02-2022,20:30:00,20:40:00,conditions Cloudy,Jam,0,Drinks,motorcycle,0.0,No,Metropolitian,7.708333
11391,0xd3de,LUDHRES07DEL03,26.0,4.8,0.000000,0.000000,0.060000,0.060000,15-02-2022,23:10:00,23:20:00,conditions Cloudy,Low,0,Drinks,motorcycle,0.0,No,Urban,5.416667
11393,0xe240,BHPRES07DEL01,31.0,4.7,0.000000,0.000000,0.010000,0.010000,13-02-2022,11:00:00,11:10:00,conditions Windy,Low,2,Snack,scooter,1.0,No,Metropolitian,6.595745
11397,0x22d4,VADRES03DEL02,27.0,4.7,22.320000,73.170000,22.450000,73.300000,06-03-2022,18:35:00,18:40:00,conditions Sandstorms,Medium,0,Meal,motorcycle,0.0,No,Metropolitian,5.744681

In [61]:
df[df['Delivery_person_Ratings'].between(4.2,4.8)]

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,new_col
1,0x3474,BANGRES15DEL01,28.0,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,20:30:00,20:35:00,conditions Windy,Jam,0,Snack,motorcycle,1.0,No,Metropolitian,6.086957
2,0x9420,JAPRES09DEL03,23.0,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,19:35:00,19:45:00,conditions Stormy,Jam,0,Drinks,motorcycle,1.0,No,Metropolitian,5.111111
3,0x72ee,JAPRES07DEL03,21.0,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:15:00,17:20:00,conditions Fog,Medium,1,Meal,scooter,1.0,No,Metropolitian,4.375000
4,0xa759,CHENRES19DEL01,31.0,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,18:25:00,18:40:00,conditions Sunny,Medium,2,Drinks,scooter,1.0,No,Metropolitian,6.739130
5,0xc4af,GOARES04DEL01,26.0,4.7,15.569600,73.742294,15.579600,73.752294,15-02-2022,09:45:00,09:55:00,conditions Fog,Low,0,Drinks,motorcycle,1.0,No,Metropolitian,5.531915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11388,0x2a31,SURRES19DEL02,39.0,4.3,21.149669,72.772629,21.229669,72.852629,10-03-2022,23:25:00,23:30:00,conditions Cloudy,Low,0,Snack,motorcycle,1.0,No,Metropolitian,9.069767
11391,0xd3de,LUDHRES07DEL03,26.0,4.8,0.000000,0.000000,0.060000,0.060000,15-02-2022,23:10:00,23:20:00,conditions Cloudy,Low,0,Drinks,motorcycle,0.0,No,Urban,5.416667
11393,0xe240,BHPRES07DEL01,31.0,4.7,0.000000,0.000000,0.010000,0.010000,13-02-2022,11:00:00,11:10:00,conditions Windy,Low,2,Snack,scooter,1.0,No,Metropolitian,6.595745
11394,0x6909,JAPRES01DEL01,35.0,4.6,26.905190,75.810753,27.015190,75.920753,27-03-2022,21:35:00,21:45:00,conditions Sunny,Jam,1,Snack,scooter,1.0,No,Metropolitian,7.608696
11397,0x22d4,VADRES03DEL02,27.0,4.7,22.320000,73.170000,22.450000,73.300000,06-03-2022,18:35:00,18:40:00,conditions Sandstorms,Medium,0,Meal,motorcycle,0.0,No,Metropolitian,5.744681

In [63]:
df.groupby('Weatherconditions').size()

Weatherconditions
conditions Cloudy        1718
conditions Fog           1636
conditions Sandstorms    1722
conditions Stormy        1667
conditions Sunny         1769
conditions Windy         1779
dtype: int64

In [66]:
df[df['Delivery_location_longitude']<=10].index## to find the index with the given conditions

Int64Index([   12,    43,    66,    74,    79,    96,    99,   102,   117,
              134,
            ...
            11282, 11297, 11301, 11304, 11307, 11355, 11356, 11383, 11391,
            11393],
           dtype='int64', length=771)

In [70]:
df.groupby(['Weatherconditions','Road_traffic_density']).size()

Weatherconditions      Road_traffic_density
conditions Cloudy      High                    162
                       Jam                     564
                       Low                     583
                       Medium                  409
conditions Fog         High                    141
                       Jam                     543
                       Low                     563
                       Medium                  389
conditions Sandstorms  High                    169
                       Jam                     539
                       Low                     573
                       Medium                  441
conditions Stormy      High                    193
                       Jam                     485
                       Low                     574
                       Medium                  415
conditions Sunny       High                    173
                       Jam                     558
                       Low                     593
                       Medium                  445
conditions Windy       High                    187
                       Jam                     540
                       Low                     605
                       Medium                  447
dtype: int64

In [68]:
df["Road_traffic_density"][1]

'Jam '

In [77]:
df[(df['Weatherconditions'] =='conditions Windy') & (df['Road_traffic_density'] =='Jam ')].sort_values(by = 'Delivery_person_Age').iloc[:1]
#df[(df['Delivery_person_Age']==35) & (df['Delivery_person_Ratings'] ==3.9)].sort_values(by = 'Delivery_person_Age').iloc[1:2]

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,new_col
5485,0x8c0d,MUMRES12DEL01,20.0,4.9,19.207222,72.972281,19.317222,73.082281,06-04-2022,20:35:00,20:50:00,conditions Windy,Jam,2,Buffet,scooter,0.0,No,Metropolitian,4.081633

In [73]:
df.groupby('Weatherconditions').agg({'Delivery_person_Ratings':np.mean,'Weatherconditions':np.size})

                       Delivery_person_Ratings  Weatherconditions
Weatherconditions
conditions Cloudy                     4.658091               1718
conditions Fog                        4.655379               1636
conditions Sandstorms                 4.608595               1722
conditions Stormy                     4.613437               1667
conditions Sunny                      4.637479               1769
conditions Windy                      4.608094               1779

In [5]:
df.groupby(['Weatherconditions','Road_traffic_density']).agg({'Delivery_person_Ratings':[np.size,np.mean]})

                                           Delivery_person_Ratings
                                                              size      mean
Weatherconditions     Road_traffic_density
conditions Cloudy     High                                     162  4.650000
                      Jam                                      564  4.629433
                      Low                                      583  4.682504
                      Medium                                   409  4.666015
conditions Fog        High                                     141  4.629787
                      Jam                                      543  4.619890
                      Low                                      563  4.685080
                      Medium                                   389  4.671208
conditions Sandstorms High                                     169  4.644970
                      Jam                                      539  4.539703
                      Low                                      573  4.658290
                      Medium                                   441  4.614286
conditions Stormy     High                                     193  4.660622
                      Jam                                      485  4.535052
                      Low                                      574  4.633449
                      Medium                                   415  4.655422
conditions Sunny      High                                     173  4.647977
                      Jam                                      558  4.641219
                      Low                                      593  4.556155
                      Medium                                   445  4.737079
conditions Windy      High                                     187  4.680749
                      Jam                                      540  4.533333
                      Low                                      605  4.633388
                      Medium                                   447  4.633781

In [17]:
g = df.groupby('Weatherconditions')
g.filter(lambda x: len(x)>1700)['Weatherconditions'].value_counts()

conditions Windy         1779
conditions Sunny         1769
conditions Sandstorms    1722
conditions Cloudy        1718
Name: Weatherconditions, dtype: int64

In [18]:
##join, merger

In [ ]:
pd.merge(df1,df2,on = 'key')# by default it will take inner join i.e will take the matching cell

In [ ]:
#how ='outer' will give all the matcching and non matching

In [21]:
lim = 2
offset = 5
df.sort_values('Weatherconditions').iloc[offset:lim+offset]

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
7060,0x3610,COIMBRES19DEL01,33.0,4.7,11.022298,76.998349,11.092298,77.068349,31-03-2022,19:10:00,19:15:00,conditions Cloudy,Jam,2,Meal,scooter,1.0,No,Metropolitian
7059,0x29bd,HYDRES14DEL03,39.0,4.6,17.426228,78.407495,17.516228,78.497495,04-04-2022,21:50:00,22:05:00,conditions Cloudy,Jam,0,Meal,motorcycle,1.0,No,Metropolitian

In [22]:
df[df['Weatherconditions']=='conditions Cloudy']

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
8,0x872b,MYSRES05DEL03,35.0,4.9,12.323978,76.627961,12.413978,76.717961,02-03-2022,21:30:00,21:45:00,conditions Cloudy,Jam,2,Snack,scooter,1.0,No,Metropolitian
15,0x5ca7,HYDRES19DEL03,34.0,4.6,17.458998,78.500366,17.488998,78.530366,01-04-2022,20:35:00,20:50:00,conditions Cloudy,Jam,2,Snack,electric_scooter,0.0,No,Metropolitian
18,0x36e5,CHENRES20DEL03,37.0,4.7,12.975996,80.221898,13.005996,80.251898,24-03-2022,18:35:00,18:50:00,conditions Cloudy,Medium,2,Snack,scooter,0.0,No,Metropolitian
21,0xa65,PUNERES03DEL02,31.0,4.7,18.554382,73.798206,18.604382,73.848206,09-03-2022,21:55:00,22:00:00,conditions Cloudy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian
29,0xb64c,COIMBRES01DEL02,21.0,4.7,11.016298,76.972076,11.036298,76.992076,30-03-2022,09:55:00,10:00:00,conditions Cloudy,Low,2,Snack,scooter,0.0,No,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11376,0xb790,HYDRES05DEL03,31.0,4.8,17.433809,78.386744,17.493809,78.446744,24-03-2022,23:40:00,23:50:00,conditions Cloudy,Low,2,Buffet,scooter,0.0,No,Metropolitian
11381,0x95dc,COIMBRES07DEL02,36.0,4.5,10.961850,76.971082,11.011850,77.021082,24-03-2022,17:30:00,17:40:00,conditions Cloudy,Medium,2,Meal,scooter,1.0,No,Metropolitian
11384,0xd661,GOARES01DEL03,37.0,4.8,15.576683,73.755750,15.636683,73.815750,15-02-2022,20:30:00,20:40:00,conditions Cloudy,Jam,0,Drinks,motorcycle,0.0,No,Metropolitian
11388,0x2a31,SURRES19DEL02,39.0,4.3,21.149669,72.772629,21.229669,72.852629,10-03-2022,23:25:00,23:30:00,conditions Cloudy,Low,0,Snack,motorcycle,1.0,No,Metropolitian
11391,0xd3de,LUDHRES07DEL03,26.0,4.8,0.000000,0.000000,0.060000,0.060000,15-02-2022,23:10:00,23:20:00,conditions Cloudy,Low,0,Drinks,motorcycle,0.0,No,Urban

In [82]:
# import pandas package as pd
import pandas as pd

# Define a dictionary containing students data
data = {'Name': ['Sneha', 'Shreya',
				'Sabhya', 'Riya'],
		'Age': [22, 18, 10, 19],
		'Stream': ['Computer', 'Commerce',
				'Arts', 'Mechanical'],
		'Percentage': [89, 93, 97, 73]}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data, columns=['Name', 'Age',
								'Stream', 'Percentage'])

print("Given Dataframe :\n", df)

print("\nIterating over rows using iterrows() method :\n")

# iterate through each row and select
# 'Name' and 'Age' columns respectively.
for index,row in df.iterrows():
	print(row["Name"], row["Age"])

Given Dataframe :
      Name  Age      Stream  Percentage
0   Sneha   22    Computer          89
1  Shreya   18    Commerce          93
2  Sabhya   10        Arts          97
3    Riya   19  Mechanical          73

Iterating over rows using iterrows() method :

Sneha 22
Shreya 18
Sabhya 10
Riya 19

In [83]:
for row in df.itertuples(index=True, name='Pandas'):
    print(getattr(row, "Name"), getattr(row, "Percentage"))

Sneha 89
Shreya 93
Sabhya 97
Riya 73

In [93]:
df.loc[len(df.index)] = ['Alex', 19,'syz', 93] ### insert a new row
df['new_col']=[2,3,4,5,6,2]

In [98]:
df.insert(2, "Address", ['Chicago', 'London', 'Berlin','Chicago', 'London', 'Berlin'], True)

In [100]:
df['ffgsd']=''
df

     Name  Age  Address      Stream  Percentage  new_col ffgsd
0   Sneha   22  Chicago    Computer          89        2
1  Shreya   18   London    Commerce          93        3
2  Sabhya   10   Berlin        Arts          97        4
3    Riya   19  Chicago  Mechanical          73        5
4    Alex   19   London         syz          93        6
5    Alex   19   Berlin         syz          93        2

In [101]:
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [3, 4, 5], 'C': [7, 8, 9]})
print(df1)
print(df2)
merged_df = pd.merge(df1, df2, on='A')
print(merged_df)

   A  B
0  1  4
1  2  5
2  3  6
   A  C
0  3  7
1  4  8
2  5  9
   A  B  C
0  3  6  7

In [103]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['a', 'b', 'c'])
df2 = pd.DataFrame({'C': [7, 8, 9]}, index=['a', 'b', 'c'])
print(df1)
print(df2)
joined_df = df1.join(df2)
print(joined_df)

   A  B
a  1  4
b  2  5
c  3  6
   C
a  7
b  8
c  9
   A  B  C
a  1  4  7
b  2  5  8
c  3  6  9